---
layout: default
---

<article class="post">
  <span>Category: {{ page.categories[0] }}</span>
  <h1 class="post-title">{{ page.title }}</h1>
 <div class="space-extra-small">
 </div>
  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>
</article>

{% include related-posts.html %}

